<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加课程页面</title>
    <h5>添加课程</h5>
    <form action="/demo1/addCourse" method="post">
        课程名:<input type="text" name="name" /><br>
        <select  name="teacher">

            {% for tea in teacher_list %}
                <option value="{{ tea.t_id }}">{{ tea.name }}</option>
            {% endfor %}

        </select>
        <br>
        <input type="submit" value="添加">

    </form>
</head>
<body>

</body>
</html>