<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级列表</title>

    <style type="text/css">
        table td{
            text-align: center;
        }
    </style>
</head>
<body>
        <h5>班级列表</h5><h6><a href="index.html">返回首页</a></h6>
<table width="900px">
    <tr>
        <td>班级号</td>
        <td>班级名</td>
        <td>学科</td>
        <td>操作</td>
    </tr>
    {% for class in class_list %}
        <tr>
            <td>{{ class.id}}</td>
            <td>{{ class.name}}</td>
            <td>{{ class.course.name}}</td>
            <td><a href="demo1/amendClass?id={{ class.id }}">修改</a>
                <a href="demo1/delClass?id={{ class.id }}">删除</a>
                </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>